<div class="row" *ngIf="vehicle">
    <div class="col-md-3">
        <img [src]="vehicle.vehicleImage" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>{{vehicle.vehicleCompany}} {{vehicle.vehicleName}}</h4>
        <p>{{vehicle.vehicleDescription}}</p>
        <p>Available at {{vehicle.avalibilityTime}}</p>

        <p><span class="badge bg-primary">{{vehicle.rating}} <i class="fa fa-stars"></i></span></p>

    </div>
    <div class="col-md-6">
        <h4>price: {{vehicle.vehiclePrice}}</h4>
        <button class="btn btn-primary">Book now <i class="fa fa-check"></i></button>
        <button class="btn btn-warning">wishlist <i class="fa fa-heart"></i></button>
    </div>
</div>